<%- include('./include/head.ejs') %>
<div class="jumbotron">
    <h1 class="display-4">404 Page not found</h1>
    <p class="lead">Page that you are looking for is not found!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Home </a>
</div>
<%- include('./include/end.ejs') %>