<%- include('./include/head.ejs') %>
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic atque corporis deserunt nisi ratione fuga,
        molestias optio magni? Vero magnam distinctio velit eos ea deserunt enim dolor, cupiditate autem nesciunt?</p>
    <a class="btn btn-primary btn-lg" href="/page1" role="button">Page 1</a>
    <a class="btn btn-primary btn-lg" href="/page2" role="button">Page 2</a>
    <a class="btn btn-primary btn-lg" href="/page3" role="button">Page 3</a>
</div>
<%- include('./include/end.ejs') %>