<%- include('./include/head.ejs') %>
<div class="jumbotron">
    <h1 class="display-4">Page 1</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sapiente possimus sunt ea a molestiae
        eligendi repudiandae nemo. Autem ipsa nulla ipsum et cupiditate voluptatum eligendi minus explicabo animi
        ipsam?</p>
    <hr class="my4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <form action="/page1" method="POST">
                <div class="form-group">
                    <label for="exampleInputtext1">Enter your text!</label>
                    <input type="text" class="form-control" name="message" placeholder="Sample text">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<%- include('./include/end.ejs') %>